
* {
  padding: 0px;
}
body {
  position: relative;
  background-color: rgb(6, 37, 69);
  font-size: 20px;
    background-image: linear-gradient(
    45deg,
    #101a69 0%,
    #071679 50%,
    #000000 100%
  );
  margin: 0;
  min-height: 100vh;
}
.admission{
  background-color: #02051f;
  height: 500px;
}
#adm-heading{
  padding-top: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 75px;
  gap: 30px;
}
#year{
  color: #f4ab22;
}
#adm-txt{
  display: flex;
  color: lightblue;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#adm-txt p{
  width: 800px;
  font-size: 30px;
}
.eligbility{
  background-color: #152f64;
  height: 650px;
  justify-content: center;
}
#el-heading{
  margin-top: 0px;
  display: flex;
  color: white;
  font-size: 75px;
  gap: 30px;
  justify-content: center;
}
#criteria{
  color: #f4ab22;
}
.boxes{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap:60px;
}
#heading{
  color: #f4ab22;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 30px;
  font-size: 26px;
}
#criterias{
  color: aliceblue;
}
#criterias li{
  margin-top: 25px;
  margin-left: 35px;
  font-size: 24px;
}
#b_a{
  background-color:#131743;
  border-radius: 15px;
  width: 35%;
  height: 300px;
  transition: transform 0.3s ease;
}
#b_a:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px #f4ab22;
}
.regd{
  padding-top: 0px;
  height: 1150px;
}
#regd-heading{
  display: flex;
  color: white;
  font-size: 75px;
  justify-content: center;
  margin-top: 90px; 
  
}
#now{
  color: #f4ab22;
}
#regd-txt{
  display: flex;
  color: lightblue;
  text-align: center;
  justify-content: center;
 
  
}
#regd-txt p{
  width: 800px;
  font-size: 30px;
   margin-top: 0px;
}
.kundli{
  margin: 60px auto;
  padding: 40px;
  text-align: center;
  background-color:#131743;
  border-radius: 15px;
  width: 40%;
  height: 680px;
  transition: transform 0.3s ease;
}
.kundli:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px #f4ab22;
}
.kundli input,.kundli select,.kundli textarea {
    width: 90%;
    padding: 11px;
    border: 3px solid #f4ab22;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    color: #131743;
    background-color:rgb(168, 185, 200);
    transition: 0.3s ease;
    
}
.kundli label {
    display: flex;
    font-weight: bold;
    margin-bottom: 6px;
    color:#f4ab22;
    margin-top: 20px;
    font-size: 20px;
}

.adha-adha {
    display: flex;
    gap: 20px;
}
.adha-adha div {
    flex: 1;
}
.kundli ::placeholder{
  color: rgb(39, 37, 37);
}

#areaa{
  width: 95%;
  height: 100px;
}
.normal {
    margin-bottom: 20px;
}
#sel{
  width: 100%;
}
#nm{
  width:95%;
}
.submit-btn{
  font-size: 18px;
  padding: 20px;
  padding-bottom: 35px;
  border-radius: 20px;
  height: 20px;
  background-color: #f4ab22;
  font-weight: bold;
  width: 120px;
}
.submit-btn:hover{
  background-color: hsla(202, 55%, 56%, 0.607);
  transition: 0.2s ease;
  color: rgb(255, 244, 244);
}

.submit-btn:active{
  background-color: #f4ab22;
  transition: 0.2s ease;
  color: rgb(0, 0, 0);
}



.footer{
  width: 100%;
  height: 340px;
  background-color: #02051f;
  display: flex;
}

.imperial-info{
  width: 300px;
  height: 350px;
  color: white;
  font-size: 10px;
}

#imperial-footer{
  margin: 0px;
  padding-top: 50px;
  text-align: center;
  color: #f4ab22;
}

#image-footer{
  margin-top: 35px;
  width: 88px;
  height: 55px;
}

.footer1-para-div{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  
}
.imageAndHeading{
  display: flex;
  color: white;
}

#para-footer1{
  text-align: center;
  margin-left: 10px;
  width: 290px;
  color: white;
  font-size: 14px;
}

.footer2{
  width: 25%;
  height: 400px;
  color: white;
  margin-left: 130px;
}

#ql{
  margin-left: 40px;
  padding-top: 34px;
  font-size: 20px;
  color: #f4ab22;
}

.footer2-items{
  margin-left: 40px;
  text-decoration: none;
  color: white;
}

.footer3{
  width: 25%;
  height: 400px;
  margin-left: 130px;
}

#contact-no{
  padding-top: 34px;
  color: white;
  font-size: 20px;
  color: #f4ab22;
}

#address{
  font-size: 16px;
  color: white;
}

#phone{
  font-size: 16px;
  color: white;
}

#email{
  font-size: 16px;
  color: white;
}

.footer4{

  width: 25%;
  height: 400px;
  color: white;
  margin-left: 230px;
}

#follow-us-heading{
  padding-top: 34px;
  font-size: 20px;
  color: #f4ab22;
  
}

.social-media-btns{
  gap: 10px;
  display: flex;
}

.social{
  background-color: transparent;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
}

.copyright{
  height: 50px;
  background-color: #02051f;
}

#copy-para{
  margin-top: 0px;
  color: white;
  background-color: #02051f;
  text-align: center;
}

.fa-brands{
  
  color: #f4ab22;
}

.fa-solid{
  color: #f4ab22;
}
